@using Web.Models
@model Session

@{
	ViewBag.Title = "Session Log - " + Model.DisplayName();
	ViewBag.Breadcrumbs = new Dictionary<string, string>
	                      {
	                      	{ "Home", Url.Content("~/") },
							{ "Studies", Url.Action("Index", "Studies") },
							{ "Study: " + ViewBag.Study.Name, Url.Action("Details", "Studies", new { id = Model.StudyId }) },
							{ "Session: " + Model.DisplayName(), null }
	                      };
}

@section head {
	<script type="text/javascript" src="@Url.Content("~/Scripts/usablog/timer.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/usablog/session.js")"></script>
	@if (Model.Status == SessionStatus.InProgress)
	{
		var elapsedSinceStart = (long) Math.Floor((DateTime.Now - Model.StartedAt.Value).TotalMilliseconds);
		<script> window.sessionStartTime = new Date().getTime() - @elapsedSinceStart; </script>
	}
}

<h2>@ViewBag.Title</h2>
<a href="@Url.Action("Edit", new { id = Model.Id })">Edit session</a>
<div id="timer"></div>
<div id="details"></div>

<script language="javascript" type="text/javascript">
	$(function() {
		Usablog.LogEntry.indexUrl = "@Url.Action("Index", "LogEntry", new { sessionId = Model.Id })";
		Usablog.LogEntry.createUrl = "@Url.Action("Create", "LogEntry", new { sessionId = Model.Id })";

		Usablog.Timer.startTimerUrl = "@Url.Action("Start", new { id = Model.Id })";
		Usablog.Timer.stopTimerUrl = "@Url.Action("Stop", new { id = Model.Id })";

		window.timer = new Usablog.Timer({startedAt: window.sessionStartTime});
		window.timerController = new Usablog.TimerController($("#timer"), { timer: window.timer });

		var loadOtherEntries = function(sessionController) {
			$.ajax({
				url:"@Url.Action("Index", "LogEntry", new { sessionId = Model.Id })",
				type: 'GET',
				dataType: 'json',
				cache:false,
				success: function (data) {
					sessionController.otherEntries(data);
				}
			});
		};

		$.ajax({
			url:"@Url.Action("Edit", new { id = Model.Id })",
			type: 'GET',
			dataType: 'json',
			cache:false,
			success: function (data) {
				window.session = new Usablog.Session(data);
				window.sessionController = new Usablog.SessionController($("#details"), { model: window.session });
				loadOtherEntries(window.sessionController);
			}
		});
		
		
		

	});
</script>