@model Web.Models.Session

@{
	ViewBag.Title = "Edit Session - " + Model.DisplayName();
}

<h2>@ViewBag.Title</h2>

<form method="POST" action="@Url.Action("Edit", new { id = Model.Id })">
	<div class="form-field">
		<label for="study">Study</label>
		<span id="study" class="immutable-text-field">@ViewBag.Study.Name</span>
		<input id="studyId" name="studyId" type="hidden" value="@Model.StudyId"/>
	</div>
	<div class="form-field">
		<label for="facilitator">Facilitator</label>
		<input id="facilitator" name="facilitator" type="text" value="@Model.Facilitator" maxlength="255" />
	</div>
	<fieldset>
		<legend>Respondent</legend>
		<div class="form-field">
			<label for="respondentName">Name</label>
			<input id="respondentName" name="respondentName" type="text" required="true" class="required" value="@Model.RespondentName" maxlength="255"  />
		</div>
		<div class="form-field">
			<label for="respondentOrganization">Organization</label>
			<input id="respondentOrganization" name="respondentOrganization" type="text" value="@Model.RespondentOrganization" maxlength="255" />
		</div>
		<div class="form-field">
			<label for="respondentUrl">URL</label>
			<input id="respondentUrl" name="respondentUrl" type="text" value="@Model.RespondentUrl" maxlength="1024" />
		</div>
	</fieldset>
	<div class="form-field">	
		<label for="videoUrl">Video URL</label>
		<input id="videoUrl" name="videoUrl" type="text" value="@Model.VideoUrl" maxlength="1024" />
	</div>
	<div class="form-field">	
		<label for="notes">Notes</label>
		<textarea id="notes" name="notes">@Model.Notes</textarea>
	</div>
	<div class="form-controls">
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" class="btn" id="cancel">Cancel</button>
	</div>
</form>

<script>
	$(function () {
		$("#cancel").click(function() {
			window.location = "@Url.Action("Details", new { id = Model.Id })";
		});
	})
</script>