@model Web.Models.Session

@{
	ViewBag.Title = "Edit Session - " + Model.DisplayName();
}

<h2>@ViewBag.Title</h2>

<form method="POST" action="@Url.Action("Edit", new { id = Model.Id })">
	<div class="form-field">
		<label for="study">Study</label>
		<span id="study" class="immutable-text-field">@ViewBag.Study.Name</span>
		<input id="studyId" name="studyId" type="hidden" value="@Model.StudyId"/>
	</div>
	<div class="form-field">
		<label for="facilitator">Facilitator</label>
		<input id="facilitator" name="facilitator" type="text" value="@Model.Facilitator" maxlength="255" />
	</div>
	<fieldset>
		<legend>Respondant</legend>
		<div class="form-field">
			<label for="respondantName">Name</label>
			<input id="respondantName" name="respondantName" type="text" required="true" class="required" value="@Model.RespondantName" maxlength="255"  />
		</div>
		<div class="form-field">
			<label for="respondantOrganization">Organization</label>
			<input id="respondantOrganization" name="respondantOrganization" type="text" value="@Model.RespondantOrganization" maxlength="255" />
		</div>
		<div class="form-field">
			<label for="respondantUrl">Url</label>
			<input id="respondantUrl" name="respondantUrl" type="text" value="@Model.RespondantUrl" maxlength="1024" />
		</div>
	</fieldset>
	<div class="form-field">	
		<label for="videoUrl">Video Url</label>
		<input id="videoUrl" name="videoUrl" type="text" value="@Model.VideoUrl" maxlength="1024" />
	</div>
	<div class="form-field">	
		<label for="notes">Notes</label>
		<textarea id="notes" name="notes">@Model.Notes</textarea>
	</div>
	<div class="form-controls">
		<input name="submit" type="submit" value="Save" /> or <a href="@Url.Action("Details", new { id = Model.Id})">Cancel</a>
	</div>
</form>