@model Web.Models.Study

@{
	ViewBag.Title = "Study - " + Model.Name;
}

<h2>@Model.Name <a href="@Url.Action("Rename", new { id = Model.Id })"><i class="icon-pencil"></i></a></h2>

<div class="row">
	<section name="sessions" class="span6 well">
		<h2>
			Sessions
			<button type="button" class="btn btn-link btn-small" href="@Url.Action("Create", "Sessions", new { StudyId = Model.Id })">
				<i class="icon-plus"></i>Add new session
			</button>
		</h2>

		<ul>
			@foreach (Web.Models.Session session in ViewBag.Sessions)
			{
				<li>
					<a href="@Url.Action("Details", "Sessions", new { Id = session.Id })">
						@(string.IsNullOrWhiteSpace(session.DisplayName()) ? session.Id : session.DisplayName())
					</a>
				</li>
			}
		</ul>
	</section>
	<section name="themes" class="span6 well">
		<h2>Themes</h2>
	</section>

</div>