@using Web.Models
@model Study

@{
	ViewBag.Title = "Study - " + Model.Name;
}

<h2>@Model.Name <a href="@Url.Action("Rename", new { id = Model.Id })"><i class="icon-pencil"></i></a></h2>

<div class="row">
	<section name="themes" class="span7">
		<div class="well">
			<h2>Themes</h2>
		</div>
	</section>
	<section name="sessions" class="span5">
		<div class="well">
			<h2>
				Sessions
				<button type="button" class="btn btn-link btn-small" href="@Url.Action("Create", "Sessions", new { StudyId = Model.Id })">
					<i class="icon-plus"></i>Add new session
				</button>
			</h2>

			<table class="sessions-list table table-striped">
				<tbody>
				@foreach (Session session in ViewBag.Sessions)
				{
					<tr>
						<td>
							@(session.StartDate.HasValue ? session.StartDate.Value.ToString("M/d") : "Unsch")
						</td>
						<td>
							<a href="@Url.Action("Details", "Sessions", new { session.Id })">
								@(string.IsNullOrWhiteSpace(session.DisplayName()) ? session.Id : session.DisplayName())
							</a>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</section>
</div>