<div class="navbar">
	<div class="navbar-inner">
		<div class="container" style="width:auto;">
			<a class="brand" href="@Url.Content("~/")">Usablog</a>
			<ul class="nav">
				<li><a href="@Url.Action("Index", "Studies")">Studies</a></li>
			</ul>
			<ul class="nav pull-right">
				@if (HttpContext.Current.User.Identity.IsAuthenticated)
				{
					<li><div>Logged in as @HttpContext.Current.User.Identity.Name</div></li>
					<li><a href="@Url.Action("Logout", "Login")">Log out</a></li>
				}
				else
				{
					<li><a href="@Url.Action("Index", "Login")">Log in</a></li>
				}
			</ul>
		</div>
	</div>
</div>

